<!doctype html>
<html lang="en" class="font-serif">
  <head>
    <%= partial "partials/head_meta_tags" %>
    <%= stylesheet_link_tag "tailwind" %>
    <%= stylesheet_link_tag "code_highlighting" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body class="flex flex-col mx-auto mt-12 mb-12 p-4 sm:p-8 max-w-2xl h-full">
    <%= partial "partials/menu" %>
    <%= yield %>
  </body>
</html>
