<!doctype html>
<html lang="en" class="font-serif">
  <head>
    <%= partial "partials/head_meta_tags" %>
    <%= stylesheet_link_tag "tailwind" %>
    <%= stylesheet_link_tag "code_highlighting" %>
    <%= javascript_include_tag "sidenotes" %>
  </head>
  <body class="flex flex-col h-full antialiased">
    <div class="mx-auto mt-0 md:mt-16 mb-12 p-4 sm:p-8 max-w-2xl">
      <%= partial "partials/menu" %>
      <%= yield %>
    </div>
    <%= partial "partials/footer" %>
  </body>
</html>
